:root {
    --text: #E7FDF7;
    --background: #030614;
    --primary: #76F5CC;
    --secondary: #0B7296;
    --accent: #3BA5F1;

    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    background: var(--background);
    font-family: "Noto Sans", sans-serif;
    color: #E7FDF7;
    font-size: 15pt;
}

/* Global Styles */

header{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px 0 10px;
    background-color: var(--secondary);
    align-items: center;
    align-content: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

header h2{
    margin-left: 10px;
}

.masthead {
    width: auto;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin:10px;
    background: linear-gradient(99deg, var(--secondary) 13.47%, var(--accent) 13.48%, var(--secondary) 86.68%, var(--accent) 86.69%);
    text-align: center;
}



#masthead h1{
    position: relative;
}

/* Hamburger Menu */
label #menu {
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--text);
    border-radius: 4px;
    z-index: 100;
    right: 15px;
    top: 15px;
    transition: .25s ease-in-out;
    cursor: pointer;
}
#hamburger{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
}
input:checked + #menu{
    width: 300px;
    right: 0;
    top: 0;
    height: 100vh;
    }
input:checked + menu {
    display: flex;
    flex-direction: column;
}
label menu{
    position: absolute;
    right: 0;
    width:300px;
    list-style: none;
    opacity: 0;
    z-index: 200;
}
label input:checked + #menu + menu {opacity: 1}
label a{
    font-size: 2em;
    text-decoration: none;
    color: var(--background);
    width: 300px;
}
label li{
    text-align: center;
    justify-content: center;
    transition: all .25s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
label li {
    width: 100%;
    justify-content: center;
    align-items: center;
}
label li:hover{
    background: color-mix(in srgb, var(--background) 5%, var(--text));
}
label a{
    display: inline-block;
    width: 300px;
}
#hamburgerMenuCheckbox{
     display: none;
}
label menu{
    margin-top: 10px;
}

main {
    background: color-mix(in srgb, var(--background) 90%, var(--text));
    width: 80%;
    margin: auto auto 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: justify;
}
/* Call to action */
.callToAction{
    width: auto;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callToAction a{
    background: var(--primary);
    color: var(--background);
    font-size: 2em;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: .25s ease-in-out;
}
.callToAction a:hover{
    background-color: color-mix(in srgb, var(--primary) 50%, var(--background));
    color: var(--text);
    font-weight: bold;
}
h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 5px
}
.about{
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 10px 60px 10px 60px;
    border-radius: 5px;
    padding: 15px
}
.about p {
    font-size: 1.8em;
    margin: 10px;
    text-align: center;
}

.about a {
    background: var(--accent);
    color: var(--text);
    font-size: 1.6em;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: .25s ease-in-out;
}
.about a:hover {
    background: color-mix(in srgb, #ffffff 20%, var(--accent));
    color: color-mix(in srgb, #000000 80%, var(--text));
}

/* About Page */
#aboutMasthead {
    background: linear-gradient(66deg, var(--secondary) 13.47%, var(--accent) 13.48%, var(--secondary) 86.68%, var(--accent) 86.69%);
}

